@import "./variables";

* {
    box-sizing: border-box;
    margin: 0;
}

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin smartphone {
    @media (max-width: $smartphone) {
        @content;
    }
}

@mixin font-styles {
    font-family: $font-stack;
    color: $primary-color;
}