$default-font-size: 16px;
$title-font-size: 32px;
$section-title-font-size: 24px;
$font-stack: Helvetica, sans-serif;
$primary-color: #272727;
$mobile-width: 100%;
$tablet-width: 91.6%;
$desktop-width: 66.6%;

$font-weights: (
    "regular": 400,
    "medium": 600
);
$smartphone: 600px;
