@import "./variables";
@import "./config";
@import "./responsive";

body {
    background: white;
    font: 100% $font-stack;
    @include font-styles;
    padding: 0px;

}

header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.right-desktop-nav {
    a {
        text-decoration: none;
        color: $primary-color;
        font-size: $default-font-size;
        font-weight: map-get($font-weights, regular);
        
        &:hover {
            text-decoration: underline; 
        }
    }
    li {
        margin-right: 30px;
    }
    ul {
        list-style: none;
        display: flex;
    }
}

.icons {
    color: black;
    background-color: rgb(232,228,204);
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    display: flex;
}


.container {
    display: flex;
    justify-content: space-between;
}

.box {
    margin: 20px;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
    border: 2px solid black;
    background-color: rgb(232,228,204);
    margin-bottom: 20px; 
    position: relative; 
    
    &:nth-child(1) h2 {
        background-color: rgb(105, 212, 229);
    }
    
    &:nth-child(2) h2 {
        background-color: rgb(253, 167, 20);
    }
    
    &:nth-child(3) h2 {
        background-color: rgb(244, 136, 199);
    }

    h2 {
        font-size: $section-title-font-size;
        margin-bottom: 0px;
        position: absolute; 
        top: 0px; 
        right: 0px;
        border: 2px solid black; 
        padding: 10px; 
        background-color: rgb(105, 212, 229);
    }
    
    p {
        margin: 0;
    }
}

footer {
    background-color: rgb(232, 228, 204);
    font-size: $default-font-size;
    text-align: center;
    width: 100%;
    padding: 30px;
    border-top: 2px solid black;
    @include font-styles;

    p {
        &:last-child {
            font-weight: map-get($font-weights, medium);
        }
    }
}