@import "./variables";
@import "./config";


body {
    background: white;
    font: 100% $font-stack;
    @include font-styles;
    padding: 0px;

}

header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav.right ul {
    list-style: none;
    display: flex;
}

nav.right li {
    margin-right: 30px;
}

nav.right a {
    text-decoration: none;
    color: $primary-color;
    font-size: $default-font-size;
    font-weight: map-get($font-weights, regular);
    
    &:hover {
        text-decoration: underline; 
    }
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    margin: 20px;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
    border: 2px solid black;
    background-color: rgb(232,228,204);
    margin-bottom: 20px; 
    position: relative; 
    
    &:nth-child(1) h2 {
        background-color: rgb(105, 212, 229);
    }
    
    &:nth-child(2) h2 {
        background-color: rgb(253, 167, 20);
    }
    
    &:nth-child(3) h2 {
        background-color: rgb(244, 136, 199);
    }

    h2 {
        font-size: $section-title-font-size;
        margin-bottom: 0px;
        position: absolute; 
        top: 0px; 
        right: 0px;
        border: 2px solid black; 
        padding: 10px; 
        background-color: rgb(105, 212, 229);
    }
    
    p {
        margin: 0;
    }
}


.mobile-nav {
    display: none;
}
  
footer {
    background-color: rgb(232, 228, 204);
    font-size: $default-font-size;
    text-align: center;
    width: 100%;
    padding: 30px;
    border-top: 2px solid black;
    @include font-styles;

    p {
        &:last-child {
            font-weight: map-get($font-weights, medium);
        }
    }

    @media only screen and (min-width: 1024px) {
        position: fixed;
        bottom: 0;
    }

    @media only screen and (min-width: 601px) and (max-width: 1023px) {
        position: relative;
    }

    @media only screen and (max-width: $smartphone){
        position: relative;

        .middle h1 {
            visibility: hidden;
        }
    }

}
  

